<form>
  <p id="order">
    View Product<button id="newOrder" routerLink="/update-product">Edit</button>
  </p>
  <div class="line">
    <span class="label">Product Number:</span>
    <span class="input">{{product.productId}}</span>
  </div>
  <div class="line">
    <span class="label">Product Name:</span>
    <span class="input">{{product.productName}}</span>
  </div>
  <div class="line">
    <span class="label">Product Category:</span>
    <span class="input">{{product.categoryName}}</span>
  </div>

  <div class="line">
    <span class="label">Available Quantity:</span>
    <span class="input">{{product.availableQuantity}}</span>
  </div>
  <div class="line">
    <span class="label">Price:</span>
    <span class="input">{{product.price}}</span>
  </div>
  <div class="line">
    <span class="label">Description:</span>
    <textarea class="input">{{product.description}}</textarea>
  </div>
  <div class="line">
    <span class="label">Created Date:</span>
    <span class="input">{{product.createDate}}</span>
  </div>
  <div id = "buttons">
    <button type="submit" class="button">Save</button>
    <button type="reset" routerLink="/products" class="button">Cancel</button>
  </div>
</form>
