<!--<p>
  New Customer
</p>
<form [formGroup] = "AddNewProductForm" (ngSubmit) = "addProduct(AddNewProductForm.value)">
  <p><label>Product Name:</label><input type="text" formControlName="productName"></p>
  <p><label>Available Quantity:</label><input id="decimal-number"type="text" formControlName="availableQuantity"  digitOnly decimal="true" placeholder="000"></p>
  <p><label>Price:</label>
    <input id="decimal-number" type="text" formControlName="price" digitOnly decimal="true" placeholder="000"/>
    <p>Category: <select formControlName="categoryName">
    <option [value]="category.categoryName" *ngFor="let category of categories">{{category.categoryName}}</option>
  </select></p>
  <p>Size: <select formControlName="productSize">
    <option [value]="size.size" *ngFor="let size of sizes">{{size.size}}</option>
  </select></p>
  <p><label>Creation Date:</label><label formControlName="createDate" >{{today | date }}</label></p>
  <p><label>Description:</label><textarea type="text" formControlName="description"></textarea></p>
  <p><button type="submit" class="button">Save</button></p>
</form>-->

<div class="container">
<form [formGroup] = "AddNewProductForm" (ngSubmit) = "addProduct(AddNewProductForm.value)" >
  <p id="order">
    New Product
  </p>
  <ul class="flex-outer">
    <li>
    <label class="label">Product Name:</label>
    <input class="input" id="productName" type="text" class="form-control"  formControlName="productName" required>
    </li>
    <div class="error" *ngIf="submitted && productName.errors?.required">
      Empty name value.
    </div>

  <li>
    <label class="label">Available Quantity:</label>
    <input id="decimal-number" class="form-control" formControlName="availableQuantity"  type="text"  required>
  </li>
    <div class="error" *ngIf="submitted && availableQuantity.errors?.required">
      Empty quantity value.
    </div>


  <li>
    <label class="label">Price:</label>
    <input id="decimal-number" class="form-control"  type="text" formControlName="price" required>
  </li>
    <div class="error" *ngIf="submitted && price.errors?.required">
      Empty price value.
    </div>

    <li>
      <label class="label">Category:</label>
      <select formControlName="categoryName">
        <option [ngValue]="category.categoryName" class="form-control"  *ngFor="let category of categories"  >{{category.categoryName}}
        </option>
      </select>
    </li>
    <div class="error" *ngIf="submitted && categoryName.errors?.required">
          Category name is required.
    </div>

    <li>
      <label class="label">Size: </label><select formControlName="productSize">
        <option [value]="size.size" class="form-control" *ngFor="let size of sizes" >{{size.size}}</option>
      </select>
    </li>
    <div class="error" *ngIf="submitted && productSize.errors?.required">
      Product size is required.
   </div>
    <p class="error" *ngIf="checkError!=''">
      {{checkError}}
    </p>
  <li>
    <label class="label">Creation Date:</label>
    <label class="input" class="form-control" formControlName="createDate" >{{today | date }}</label>
  </li>
  <li>
    <label class="label">Description:</label>
    <textarea id="input" type="text" class="form-control" formControlName="description"></textarea>
  </li>
  <div id = "buttons">
    <button type="submit" class="button">Save</button>
    <button (click)= "reset()" class="button">Cancel</button>
  </div>
  </ul>
</form>
</div>
