<form [formGroup] = "EditProductToOrderForm"  (ngSubmit) = "addProductOrder(EditProductToOrderForm.value)">
  <p id="order">
    Add product to order
  </p>
  <div class="line">
    <span class="label">Product Name:</span>
    <select formControlName="productName">
      <option [class.is-invalid]="product.productName" [value]="product.productName" *ngFor="let product of products">{{product.productName}}</option>
    </select>
  </div>
  <div class="error" *ngIf="submitted && productName.errors?.required">
    Product name is required.
  </div>
  <div class="line">
    <span class="label">Quantity:</span>
    <input id="quantity" type="text" formControlName="quantity" digitOnly decimal="true"  required/>
  </div>
  <div class="error" *ngIf="submitted && quantity.errors?.required">
    Quantity name is required.
 </div>
  <div class="line">
    <span class="label">Product Size: </span><select formControlName="productSize">
      <option [value]="size.size" *ngFor="let size of sizes">{{size.size}}</option>
    </select>
  </div>
  <div class="error" *ngIf="submitted && productSize.errors?.required">
    Product size is required.
  </div>
  <p class="error" *ngIf="checkError!=''">
    {{checkError}}
  </p>
  <div id = "buttons">
    <button type="submit" class="button">Save</button>
    <button type="reset" routerLink="/update-order" class="button">Cancel</button>
  </div>
</form>
