<form>
  <p id="order">
    View Order
    <button id="newOrder" routerLink="/update-order">Edit</button>
  </p>
  <div class="line">
    <span class="label">Order Number:</span>
    <span class="input">{{order.orderId}}</span>
  </div>
  <div class="line">
    <span class="label">Customer Name:</span>
    <span class="input">{{order.customerName}}</span>
  </div>
  <div class="line">
    <span class="label">Status:</span>
    <span class="input">{{order.statusName}}</span>
  </div>
  <div class="line">
    <span class="label">Total Cost:</span>
    <span class="input">{{order.totalOrderCost | currency}}</span>
  </div>
  <div class="line">
    <span class="label">Order Date:</span>
    <span class="input">{{order.orderDate | date}}</span>
  </div>
  <div class="line">
    <span class="label">Ordered Products:</span>
  </div>
  <table>
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Product Size</th>
        <th>Quantity </th>
        <th>Price </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let order of productOrder; let i = index;">
        <td><a href="">{{order.productId}}</a></td>
        <td class="address">{{order.product.productName}}</td>
        <td>{{order.product.categoryName}}</td>
        <td>{{order.product.productSize}}</td>
        <td> {{order.quantity}}</td>
        <td>{{order.product.price}}</td>
        </tr>
    </tbody>
  </table>
  <div class="line">
    <span class="label">Commeny:</span>
    <textarea class="input">{{order.comment}}</textarea>
  </div>
  <div id = "buttons">
    <button type="reset" routerLink="/orders" class="button">Cancel</button>
  </div>
</form>
