<!--
<form [formGroup] = "AddCustomerForm" (ngSubmit) = "addCustomer(AddCustomerForm.value)">

  <div class="inputFields">
    <p id="order">
      New Customer
    </p>
  <div class="line">
    <label class="label">Creation Date:</label>
    <label class="input" formControlName="creationDate" >{{today }}</label></div>
  <div class="line">
    <label class="label">Customer Name:</label>
    <input class="input" type="text" formControlName="customerName"></div>
  <div class="line">
    <label class="label">Address:</label>
    <textarea class="input" type="input" formControlName="customerAddress"></textarea>
  </div>
  </div>

  <p *ngIf="checkError!=''">
    {{checkError}}
  </p>
  <div id = "buttons">
    <button type="submit" class="button">Save</button>
    <button type="reset" routerLink="/customers" class="button">Cancel</button>
  </div>
</form>-->


<form [formGroup] = "AddCustomerForm" (ngSubmit) = "addCustomer(AddCustomerForm.value)">

  <div class="inputFields">
    <p id="order">
      New Customer
    </p>
  <div class="line">
    <label class="label">Creation Date:</label>
    <label class="input" formControlName="creationDate" >{{today | date }}</label></div>
  <div class="line">
    <label class="label">Customer Name:</label>
    <input class="input" id="customerName" class="form-control" type="text" formControlName="customerName" required>
    <div class="error"  *ngIf="customerName.errors.required">
      Name is required.
  </div>
  </div>

  <div class="line">
    <label class="label">Address:</label>
    <textarea class="input" type="input" formControlName="customerAddress"></textarea>
    <div class="error" *ngIf="customerAddress.errors.required">
      Address is required.
  </div>
  </div>

  </div>


  <div id = "buttons">
    <button type="submit" class="button">Save</button>
    <button type="reset" routerLink="/customers" class="button">Cancel</button>
  </div>
</form>
