<!--<p>
  product-to-order works!
</p>
<form [formGroup] = "AddProductToOrderForm" novalidate class="needs-validation" (ngSubmit) = "addProductOrder(AddProductToOrderForm.value)">
  <p><span class="label">Product Name:</span> <select formControlName="productName">
    <option [class.is-invalid]="product.productName" [value]="product.productName" *ngFor="let product of products">{{product.productName}}</option>
  </select></p>

  <p><input id="quantity" type="text" formControlName="quantity" digitOnly decimal="true"  required/></p>



  <p>Product Size: <select formControlName="productSize">
    <option [value]="size.size" *ngFor="let size of sizes">{{size.size}}</option>
  </select></p>

  <p><button type="submit" class="button">Save</button></p>
</form>
-->
<div class="container">
<form [formGroup] = "AddProductToOrderForm"  (ngSubmit) = "addProductOrder(AddProductToOrderForm.value)">
  <p id="order">
    Add product to order
  </p>

  <ul class="flex-outer">
  <li>
    <label class="label">Product Name:</label>
    <select formControlName="productName">
      <option [class.is-invalid]="product.productName" [value]="product.productName" *ngFor="let product of products">{{product.productName}}</option>
    </select>
  </li>
  <div class="error" *ngIf="submitted && productName.errors?.required">
    Product name is required.
</div>
  <li>
    <label class="label">Quantity:</label>
    <input id="quantity" type="text" formControlName="quantity" digitOnly decimal="true"  required/>
  </li>
  <div class="error" *ngIf="submitted && quantity.errors?.required">
    Quantity is required.
</div>
  <li>
    <label class="label">Product Size: </label><select formControlName="productSize">
      <option [value]="size.size" *ngFor="let size of sizes">{{size.size}}</option>
    </select>
  </li>
  <div class="error" *ngIf="submitted && productSize.errors?.required">
    Product size is required.
</div>
  <p class="error" *ngIf="checkError!=''">
    {{checkError}}
  </p>
  <li>
  <div id = "buttons">
    <button type="submit" class="button">Save</button>
    <button type="reset" routerLink="/newOrder" class="button">Cancel</button>
  </div>
</li>
  </ul>
</form>
</div>
