
<div class="container">
<form [formGroup] = "EditOrderForm" (ngSubmit) = "updateOrder(EditOrderForm.value)" >
  <p id="order">
    Edit Order
  </p>

  <button id="AddOrder" routerLink="/product-to-order">AddProduct</button>

  <ul class="flex-outer">
  <li>
    <label class="label">Order Number:</label>
    <label formControlName="orderNumber" digitOnly decimal="true">{{order.orderId}}</label>
  </li>

  <li>
    <label class="label">Total Cost:</label>
    <label id="decimal-number" formControlName="totalOrderCost" digitOnly decimal="true">{{order.totalOrderCost | currency}}</label>
  </li>

  <li>
      <label class="label">Customer:</label> <select formControlName="customerName">
        <option [value]="customer.customerName" *ngFor="let customer of customer">{{customer.customerName}}</option>
        </select>
      </li>
    <div class="error" *ngIf="submitted && customerName.errors?.required">
      Choose status.
    </div>
    <li>
      <label class="label">Status: </label>
      <select formControlName="statusName">
        <option [value]="status.statusName" *ngFor="let status of statuses">{{status.statusName}}</option>
      </select>
    </li>

    <div class="error" *ngIf="submitted && statusName.errors?.required">
      Choose status.
    </div>
    <p class="error" *ngIf="checkError!=''">
      {{checkError}}
    </p>
    <li>
    <label class="label">Order Date:</label><label formControlName="orderDate" >{{order.orderDate| date}}</label>
    </li>
  <table>
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Product Size</th>
        <th>Quantity </th>
        <th>Price </th>
        <th>Delete </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let order of productOrder; let i = index;">
        <!--<td><a (ngSubmit) = "gotoDetail(order.orderId)" routerLinkActive="active">{{order.orderId}}</a></td>-->
        <td><a href="">{{order.productId}}</a></td>
        <td class="address">{{order.product.productName}}</td>
        <td>{{order.product.categoryName}}</td>
        <td>{{order.product.productSize}}</td>
        <td> {{order.quantity}}</td>
        <td>{{order.product.price}}</td>
        <td><a (click)="deleteProduct(order.productId)" value="Delete">Delete</a></td>
        </tr>
    </tbody>
  </table>
  <li>
    <label class="label">Comment:</label><textarea id="input" type="text" formControlName="comment"></textarea>
  </li>

  <div id = "buttons">
    <button type="submit" class="button">Save</button>
    <button type="reset" routerLink="/view-order" class="button">Cancel</button>
  </div>
  </ul>
</form>
</div>
